* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.main_div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100px;
  width: 500px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 10px;
}
